
.header{
  height: 145px;
  width: 1512px;
  margin: auto;
}
.text{
  font-family: Montserrat;
font-size: 48px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: left;

}
span{
  font-family: Montserrat;
font-size: 48px;
font-weight: 250;
line-height: 59px;
letter-spacing: 0em;
text-align: left;

}

.content{
  width:438px;
height: 28px;
top: 58px;
left: 277px;
gap: 44px;
/* styleName: H4; */
font-family: Montserrat;
font-size: 23px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}

.mainsearch{
  margin-right: 300px;
}

.search{
  width: 451px;
height: 48px;
top: 48px;
left: 766px;
padding: 8px, 15px, 8px, 23px;
border-radius: 82px;
border:1px solid black;
/* margin-right:50px; */
}

.image-container.imagecontent {
  display: flex;
  gap: 36px;
  position: absolute;
  top: 45px;
  left: 1266px;
  width: 200px;
  height: 50px;
  /* margin-left: 00px; */
}

.image-container.imagecontent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.searchimage{
  margin-left:-60px;
  border: none;
}

.textproduct{
  width: 1512px;
  height: 54px;
  margin:auto;
  top: 205px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.product{
  /* width: 145px; */
height: 20px;
/* //styleName: Normal Bold; */
font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}

.product .span{
  height: 5px;
  width: 5px;
}


.giftmain{
  height: 587px;
  width: 1512px;
  margin: auto;
  border:1px red;
  display: flex; 
  flex-wrap: wrap;
  margin-top: -8px;
  /* border-top:2px solid black; */
  border-bottom:2px solid black;
  
}

.textgift{
  width: 755px;
  border-right:2px solid black ;
  
  
}

.gifth1{
  /* //styleName: H1; */
font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0em;
text-align: left;
/* padding: 20px; */

}

.feature{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
/* align-items: ; */
gap:50px;
/* align-content: center;                                                                                                  */

  
}
.mainfeature{
  height: 662px;
  width: 1512px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap:nowrap;
  /* border: 1px solid black; */

}

.festuretext{
  width: 1392px;
height: 49px;
/* border: 1px solid blue; */
/* //styleName: H2; */
font-family: Montserrat;
font-size: 40px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
}


.featureinfo{
  width:454px;
height:557px;
margin-top:20px;
border: 1px solid black ;
display: flex;
flex-wrap: wrap;

}
.featurimage{
  border: 1px solid black;
  width: 451px;
  
}
.plan-features{
  width:243px;
height:179px;
/* border:1px solid black; */
top: 16px;
margin-right:150px;
list-style: none;

gap: 24px;

}

.personinfo{
  width:1512px;
height: 677px;
margin: auto;
display: flex;
  flex-direction: row;


}

.person{
  width:900px;
height:507px;
top: 85px;
left: 178px;
gap: 38px;
padding: 110px;

}

.persontext{
  border-bottom:2px solid black ;

}

.pic{
  width: 97px;
height: 97px;
border-radius: 63px;
background-color: grey;
/* border: 2px solid black; */

}

.personpic{
  /* //styleName: H4; */
font-family: Montserrat;
font-size: 23px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
margin-top: 50px;
text-align: left;
  display: flex;
  flex-direction: row;

}

.name{
  margin-top:20px;
  margin-left: 30px;
}

.personimage{
  width: 451px;
height: 451px;
top: 113px;
left: 1001px;
border-radius: 12px;
/* border: 4px solid black; */
margin-top: 100px;
background-color: gray;

}

.buyget{
  width: 1512px;
  margin: auto;
height: 758px;
/* top: 2308px; */
border: 2px solid black;
display: flex;
  flex-direction: row;


}

.buygift{
  width: 758px;
height: 756px;
/* top: 2308px */
/* border: 2px */

  border: 1px solid black;
}

.buyshirt{
  width: 395px;
  height: 377px;
  /* top: 2308px */
  /* left: 56px; */
  text-align: center;

  border: 2px solid black;
  
}

.getshirt{
  width:263px;
height: 245px;
margin-top: 60px;
margin-left: 50px;
left: 51px;
gap: 24px;
list-style: none;
}

.addshirt{
  width: 263px;
height: 64px;
margin-top: 330px;
margin-left: 45px;
/* border: 1px solid red; */
padding: 10px, 49.35px, 10px, 49.35px;
border-radius: 50px;
border: 2px;
gap: 10px;
}


.top{
  display: flex;
  flex-direction: row;

}
.top10{
  width: 333px;
height: 458px;

}
.topimage{
  width: 333px;
height: 250px;

}
.aniverderymain{
  width:1512px;
  height:421px;
  margin: auto;
  margin-top: -160px;
  /* left: 60px */
  /* gap: 56px */
  
}

.anivertext{
  text-align: center;
line-height: 28px;

}


.anigift{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.anigiftss{
  width:215px;
height:282px;


  /* gap:10px; */

}

@media (max-width:880px) {
  .header{
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .textgift{
  width: 100%; 
  }
  .mainfeature{
    width: 100%;
    margin: auto;
  }
  .giftmain{
    height: 100%;
    /* width: 100%; */
    border: none;
  }
  .mainfeature{
    height: 100%;
    width: 100%;
    /* margin-right: 50px; */
  }
  .feature{
    width: 100%;
    margin-top:70px;
    margin-right:500px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
  }
}
@media (max-width: 767px) {
  .anigiftss {
      margin-bottom: 20px; /* Adjust as needed */
  }
}

@media (min-width: 768px) {
  /* Adjust column layout for medium screens */
  .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
}

@media (min-width: 992px) {
  /* Adjust column layout for large screens */
  .col-md-4 {
      flex: 0 0 25%;
      max-width: 25%;
  }
}

@media (min-width: 1200px) {
  /* Adjust column layout for extra large screens */
  .col-md-4 {
      flex: 0 0 20%;
      max-width: 20%;
  }
}




